@charset "UTF-8";
#list{
	width:90%;
	border-top:1px solid black;
	margin: 0px auto;
}
#listtitle ul li{
	font-weight: bold;
	text-align: -internal-center;
	font-family: Georgia, "맑은 고딕", 'serif';
}
.sen{
	border-top: 1px solid #ebebeb;
}
.sen:last-child{
	border-bottom: 1px solid #ebebeb;
}		
#list ul li{
	display: inline-block;
	padding:10px;
}
.name, .names{
	width: 20%;
}
.email, .emails{
	width: 35%;
}
.name, .email{
	position: relative;
	top: 4px;
}
.btns, .mid{
	width: 10%;
}
.btn{
	margin-top: 40px;
}
.green{
	padding: -1px 13px;
	margin-top: -5px;
	border-radius: 5px;
}
body{
	align-content: center;
	text-align: center;
}
#pop_footer {
	margin-top:-30px;
    padding: 0px 0 32px;
    text-align: center;
}
.button{
	width: 90%;
	border-radius:10px;
}
.green, .btn, .icon{
	cursor:pointer;
}
.box{
	margin: 30px auto;
  	width: 70%;
  	height: 50px;
}
.container-4{
  overflow: hidden;
  width: 100%;
  vertical-align: middle;
  white-space: nowrap;
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}
.container-4 input#search{
  width: 100%;
  height: 50px;
  background: white;
  border: none;
  font-size: 10pt;
  float: left;
  color: black;
  padding-left: 15px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.container-4 input#search::-webkit-input-placeholder {
   color: #65737e;
}
 
.container-4 input#search:-moz-placeholder { /* Firefox 18- */
   color: #65737e;  
}
 
.container-4 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #65737e;  
}
 
.container-4 input#search:-ms-input-placeholder {  
   color: #65737e;  
}
.container-4 button.icon{
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
 
  border: none;
  background: #dadde3;
  height: 50px;
  width: 50px;
  color: #4f5b66;
  opacity: 1;
  font-size: 10pt;
 
  -webkit-transition: all .55s ease;
  -moz-transition: all .55s ease;
  -ms-transition: all .55s ease;
  -o-transition: all .55s ease;
  transition: all .55s ease;
}
.container-4:hover button.icon, .container-4:active button.icon, .container-4:focus button.icon{
    outline: none;
    opacity: 1;
    margin-left: -50px;
  }
 
  .container-4:hover button.icon:hover{
    background: white;
  }
.no_none{
	display: none;
}
#btns{	
	margin-top: -11px;
}
#searchcount{
	color: #82858c;
	margin: 5px 30px;
    text-align: left;
}
.icon{
	border-radius: 5px;
}
#pop_header{
	background-color: #007bff;
}
.setting_btn.green{
	border-color: #007bff;
	color: #007bff;
}
.setting_btn.green:hover {
	background-color : #007bff;
	color:#fff;
}