@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

span {
	background-color: dodgerblue;
	border: 1px solid;
	color: #fff;
	display: inline-block;
	font-size: 2em;
	height: 50px;
	left: 30%;
	padding: 5px;
	position: relative;
	text-align: center;
	top: 100px;
	width: 200px;
}

#result {
	display: inline-block;
	position: relative;
	top: 400px;
}